<section class="service" [style.backgroundImage]="'url(../../../../assets/minified/7718-min.jpg)'">
  <div class="container text-white">
    <h2>
      Men haircut
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia in illo, incidunt reprehenderit
      voluptates sapiente ipsam laboriosam. Unde culpa similique temporibus molestias omnis, incidunt quia excepturi
      aliquid repellendus? Saepe.
    </p>
  </div>
</section>
<section class="service" [style.backgroundImage]="'url(../../../../assets/minified/259786-P4JTSJ-677-min.jpg)'">
  <div class="container text-white">
    <h2>
      Women haircut
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae mollitia in illo, incidunt reprehenderit
      voluptates sapiente ipsam laboriosam. Unde culpa similique temporibus molestias omnis, incidunt quia excepturi
      aliquid repellendus? Saepe.
    </p>
  </div>
</section>
<section class="service" [style.backgroundImage]="'url(../../../../assets/minified/1794-min.jpg)'">
  <div class="container text-white">
    <h2>
      Beauty shop
    </h2>
    <p>
      You can buy cosmetics and other items that will keep your body and hair beautiful for a long time!
    </p>
    <a routerLink="/shop" class="btn btn-primary">Check out!</a>
  </div>
</section>
