.service {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0 -1rem 3rem 0px rgba(0, 0, 0, 0.5);

  .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;

  }
}
