/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/solid";

html,
body {
  height: 100%;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.list-group .list-group {
  border-left: 1rem solid $list-group-border-color;
}
